.movie-image-link {
  margin: 1em;
  flex-grow: 1;
  width: 40%;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
}

.image-in-grid {
  width: 100%;
  height: auto;
}

.search-input {
  height: 35px;
  font-size: 1rem;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 2px solid black;
  padding: 20px;
  margin: 2em 0 0;
  min-width: 36%;
}
.search-input:focus {
  outline: none;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-button {
  height: 72px;
  font-size: 1rem;
  
  border-radius: 45px;
  background: black;
  color: white;
  top: 34px;
  right: 522px;
  margin: 0 1em;
  /* position: absolute; */
}

@media screen and (min-width: 64em) {
  .movie-image-link {
    width: 20%;
  }
  .search-container {
    display: block;
    position: relative;
  }
  .search-input {
    margin: 2em;
  }
  .search-button {
    margin: 0;
    border-radius: 31px;
    position: absolute;
    height: 79px;
    font-size: 1.5rem;
    top: 32px;
    right: 525px;
    border-radius: 23px;
    margin: 0;
  }
}
