.header {
  background-image: url("black-banner.jpg");
  background-repeat: no-repeat;
    background-size: 100% 100%;
  /* height: 100%; */
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 3.5vw;
}